@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: neu;
}

#page{
    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 90%;
    height: 80%;
    background-color: red;
    padding: 2vw 2vw;
    
}
#container-head{
    width: 100%;
    height: 15%;
    background-color: #00ff6e;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5vw;
}
#container-head img{
    height: 1.8vh;
}
#container-head h4{
    font-size: 1vw;
    text-transform: uppercase;
}
.swiper{
    width: 100%;
    height: 85%;
    background-color: #8800ff;
}

.wrapper{
    width: 100%;
    height: 100%;
    background-color: #4400ff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.swiper-slide{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2vw;
}

.swiper-slide h5{
    font-family: neu;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 23px;
}